.loader-container, .loader {
    height: 100vh; /* 100% chiều cao màn hình */
    width: 100vw; /* 100% chiều rộng màn hình */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .loading-image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Đảm bảo ảnh lấp đầy khung hình */
  }
  