.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .slider::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .slider-button.left {
    left: 10px;
  }
  
  .slider-button.right {
    right: 10px;
  }
  